<div class="row">
	<div class="page-header">
		<h1>
			Survey
			<small>
				<i class="icon-double-angle-right"></i>
				This is page-header (.page-header &gt; h1)
			</small>
		</h1>
	</div><!-- /.page-header -->
</div>
